.special-card{
    background-color: azure;
}

.top-header{
    background-color: #000000;
    color: #b3aca9;
    display: flex;
    justify-content: center;
    padding: 10px 0px 0px 0px;
    font-size: 0.5 rem;
    font-weight: bold;
}