.payment-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  max-width: 500px;
}
.payment-card {
  transition: transform 0.2s ease-in-out;
  border: 5px solid #dee2e6;
  border-radius: 12px;
  cursor: pointer;
}

.payment-card:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.payment-img {
  height: 60px;
  width: 60px;
  object-fit: contain;
  border-radius: 8px;
}
.payment-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.payment-buttons button {
  min-width: 130px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 20px;
  border-radius: 8px;
  transition: 0.2s ease-in-out;
}

.payment-buttons button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
